{% extends "agda/package-page.html" %}

{% block title %}{{ block.super }} {{ tool.displayname }}{% endblock title %}
{% block content_title %}{{ tool.displayname }}{% endblock content_title %}
{% block content-class %}{{ block.super }} {{ tool.css_name }}{% endblock content-class %}

{% block sidebar %}
<h4>{{ tool.displayname }}</h4>
<ul class='sidebar-links'>
<li><a title="{{ tool.description }}" href="{{ tool.url }}">Submit new job</a></li>
<li><a title="Help with the {{ tool.displayname }} tool." href="{{ tool.url }}help/">Help</a></li>
</ul>
{{ block.super }}
{% endblock sidebar %}

{% block content %}
<div class="description">{{ tool.description }}</div> 
{% endblock content %}

