{% extends "base.html" %}

{% block title %}{{ block.super }} disable api password {% endblock %}

{% block content_title %}
	Disable api password
{% endblock %}

{% block content %}

<p>To access the Agda RESTful web service api you need to have an api password. 
{% if not user.has_usable_api_password %}
You currently do not have one.
{% else %}
Click the button below to disable your Agda api password.

<p>Note that if you click the button below your Agda api password will be disabled, 
so any scripts that you may have that are still using the old password will be locked out 
until you have generated a new api password and updated them. 

<form method="POST">{% csrf_token %}<input type="submit" value="Disable api password"></form>

{% endif %}

{% endblock %}
