{% extends "base.html" %}

{% block title %}{{ block.super }} api password reset{% endblock %}

{% block content_title %}
{% if api_password %}
	New api password
{% else %}
	Reset api password
{% endif %}
{% endblock %}

{% block content %}

{% if api_password %}
	{% if modified %}
		<p>Your Agda api password has now been reset. Note that your old password has been overwritten, 
		so any scripts that you may have that are still using the old password will be locked out until 
		you have updated them.
	{% else %}
		<p>A new Agda api password has now been created for you.
	{% endif %}
	<p><span class="important">New password:</span> {{ api_password }}
	<h2>Important notes</h2>
	<p>Note that this is the only time that Agda will display this password. 
	Take special care to note it down, as there is no chance of recovering it if you lose it.
	<p>Agda api passwords <span class="important">must not</span> be stored in a web browser. 
	This is to prevent <a href="https://www.google.com/search?q=cross-site+request+forgery">cross-site request forgery</a> attacks.
	<p>Agda api passwords <span class="important">must</span> be stored securely and privately. 
	It is sufficient to save it in a file that only you have read access to (on linux: chmod 600).
	<p>Please note that reloading this page will generate a new password.
	
{% else %}

	<p>To access the Agda RESTful web service api you need to have an api password. {% if not user.has_usable_api_password %}You currently do not have one set.{% endif %}
	
	<h2>Agda api password rules</h2>
	
	<p>Agda api passwords <span class="important">must not</span> be stored in a web browser. 
	This is to prevent <a href="https://www.google.com/search?q=cross-site+request+forgery">cross-site request forgery</a> attacks.
	<p>Agda api passwords <span class="important">must</span> be stored securely and privately. 
	It is sufficient to save it in a file that only you have read access to (on linux: chmod 600).
	
	{% if user.has_usable_api_password %}
		<p>Note that if you click the button below your old password will be overwritten, so any scripts that you may have that are still using the old password will be locked out until you have updated them. 
	{% endif %}
	
	<form method="POST">{% csrf_token %}<input type="submit" value="Generate new password"></form>

{% endif %}

{% endblock %}
