{% extends "base.html" %}
{% load agda_tags %}

{% block title %}{{ block.super }} Take job{% endblock title %}
{% block content_title %}{% if job.user %} Cannot take job {% else %} Confirm job acquisition {% endif %}{% endblock content_title %}

{% block content %}
{% if job.user %}
	<p>This job belongs to someone else. You may only take ownership of anonymous jobs. 
{% else %}
	<p>If this is a job that you have run anonymously you may take ownership of it by clicking the button below.
	<table>
		<tr><td>Name</td><td>{{ job.name }}</td></tr>
		<tr><td>Tool</td><td><a href="{{ job.tool.url }}">{{ job.tool.displayname }}</a></td></tr>
		<tr><td>Status</td><td>{{ job.status_name }}</td></tr>
		<tr><td>Submission time</td><td>{{ job.submission_date }}</td></tr>
		<tr><td>Completion time</td><td>{{ job.completion_date }}</td></tr>
	</table>
	<form method="POST">{% csrf_token %}<button type="submit">Take ownership of job</button></form>
{% endif %}
{% endblock content %}

