{% extends "agda/tool-page.html" %}

{% block title %}{{ tool.displayname }} Submit job{% endblock title %}

{% block content %}
<p>Scan a peptide sequence to find and classify any known MDR domains. Please give sequences in fasta format. 
<p>You can also <a onclick="resetValues($('#scan_form')[0], 'example')" title="Insert example values" href="javascript:void(0);">use some example data</a>, 
or <a title="Insert example values" href="javascript:void(0);" onclick="resetValues($('#scan_form')[0])">reset the form</a> to default values.  

{% include "agda/forms/table_form.html" with form_id="scan_form" form_heading="Submit new job" submit_button_text="Submit job" %} 

{% endblock content %}
